<div class="container">
  <div class="row">
    <div class="well">
      <h5>Add New Patient</h5>
    </div>
  </div>
  <div class="row">
    <form class="form form-horizontal" name="addPatient">
      <div class="control-group">
        <label class="control-label">First Name</label>
        <div class="controls">
          <input type="text" name="firstName" ng-model="patient.NameFirst" required> 
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Middle Name</label>
        <div class="controls">
          <input type="text" ng-model="patient.NameMiddle">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Last Name</label>
        <div class="controls">
          <input type="text" name="lastName" ng-model="patient.NameLast" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Date of Birth</label>
        <div class="controls">
          <input type="text" name="dateOfBirth" htdatepicker ng-model="patient.DateOfBirth" class="datepicker" required>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Primary Care Physician</label>
        <div class="controls">
          <input type="text" ng-model="patient.PrimaryCarePhysician" htphysicians>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Gender</label>
        <div class="controls">
          <select ng-model="patient.Gender" required>
            <option value="0" selected>Female</option>
            <option value="1">Male</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Address</label>
        <div class="controls">
          <textarea ng-model="patient.Address" name="address" required></textarea>
        </div>
      </div>

      <div class="control-group">

        <label class="control-label">Phone</label>
        <div class="controls">
          <input type="text" ng-model="patient.Phone" name="phone" ng-pattern="/^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/
" required>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Insurance Carrier ID</label>
        <div class="controls">
          <input type="text" ng-model="patient.InsuranceCarrierID">
        </div>
      </div>
       <div class="control-group">
        <div class="controls">
          <button class="btn btn-primary" ng-click="save()" ng-disabled="!addPatient.dateOfBirth.$valid || !addPatient.lastName.$valid || !addPatient.phone.$valid || !addPatient.address.$valid || !addPatient.firstName.$valid">Add Patient</button>
        </div>
      </div>
    </form>
